In [94]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!pip install geocoder
import geocoder as geocoder
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 19.2MB/s ta 0:00:01
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Libraries imported.

In [95]:
!wget -q -O 'london_data.json' https://en.wikipedia.org/wiki/SW_postcode_area
print('Data downloaded!')

Data downloaded!

In [96]:
london_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_areas_of_London", header=0, attrs={"class":"wikitable sortable"})[0]
london_df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [2]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[3]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[3],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[3],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [97]:
london_df.shape

(533, 6)

In [98]:
london_df.columns

Index(['Location', 'London borough', 'Post town', 'Postcode district',
       'Dial code', 'OS grid ref'],
      dtype='object')

In [99]:
london_df.columns = ['Location','London_borough','Post town','Postcode district','Dial Code','OS grid ref']

In [100]:
london_df['London_borough'] =  london_df['London_borough'].apply(lambda x: x.replace('[','').replace(']','')) 
london_df['London_borough'] =  london_df['London_borough'].str.replace('\d+', '')
london_df['London_borough'] =  london_df['London_borough'].str.split(',').str[0]
london_df['Postcode district'] =  london_df['Postcode district'].str.split(',').str[0]
london_df['Postcode district'] =  london_df['Postcode district'].str.split('(').str[0]
london_df['Post town'] =  london_df['Post town'].str.split(',').str[0]

In [101]:
london_df.head()

,Location,London_borough,Post town,Postcode district,Dial Code,OS grid ref
0,Abbey Wood,Bexley,LONDON,SE2,020,TQ465785
1,Acton,Ealing,LONDON,W3,020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,BEXLEY,DA5,020,TQ478728

In [102]:
london_df.to_csv('london.csv',index=False)

In [103]:
london_df.shape

(533, 6)

## Getting property data of London

In [104]:
tables = pd.read_html("https://propertydata.co.uk/cities/london",header=0)
property_df=pd.DataFrame(data=tables[0])
property_df

     Area Avg yield   Avg price  £/sqft 5yr +/-  Explore data
0     BR1      3.3%    £439,284    £462    +21%  Explore data
1     BR2      3.4%    £457,502    £459    +19%  Explore data
2     BR3      3.6%    £440,550    £489    +19%  Explore data
3     BR4         -    £569,033    £452    +17%  Explore data
4     BR5      2.9%    £439,343    £422    +21%  Explore data
5     BR6      3.2%    £516,698    £463    +21%  Explore data
6     BR7         -    £572,208    £491    +18%  Explore data
7     BR8         -    £349,151    £354    +22%  Explore data
8     CR0      4.1%    £347,556    £433    +18%  Explore data
9     CR2      3.7%    £377,609    £434    +16%  Explore data
10    CR4      3.9%    £375,988    £432    +17%  Explore data
11    CR5      2.6%    £517,366    £414    +17%  Explore data
12    CR7      3.3%    £340,738    £396    +19%  Explore data
13    CR8      3.9%    £445,266    £416    +18%  Explore data
14    DA1      4.4%    £292,373    £357    +25%  Explore data
15    DA5         -    £446,058    £433    +22%  Explore data
16    DA7      3.0%    £446,000    £399    +23%  Explore data
17    DA8      4.3%    £293,908    £345    +24%  Explore data
18   DA14      4.1%    £363,838    £400    +23%  Explore data
19   DA15         -    £441,312    £432    +22%  Explore data
20   DA16         -    £404,771    £396    +22%  Explore data
21   DA17      4.8%    £292,152    £368    +22%  Explore data
22     E1      3.6%    £650,275    £818    +11%  Explore data
23     E2      3.4%    £612,200    £730     +9%  Explore data
24     E3      3.9%    £436,860    £640    +12%  Explore data
25     E4      3.5%    £460,960    £455    +13%  Explore data
26     E5      3.6%    £487,290    £666    +12%  Explore data
27     E6      4.8%    £354,614    £411    +15%  Explore data
28     E7      4.0%    £463,761    £458    +17%  Explore data
29     E8      3.8%    £614,688    £756     +9%  Explore data
30     E9      4.1%    £494,771    £717    +12%  Explore data
31    E10      3.5%    £442,659    £527    +12%  Explore data
32    E11      3.5%    £458,767    £562    +13%  Explore data
33    E12      4.6%    £372,659    £380    +16%  Explore data
34    E13      4.2%    £374,807    £431    +14%  Explore data
35    E14      3.5%    £567,481    £723    +10%  Explore data
36    E15      4.5%    £429,618    £550    +14%  Explore data
37    E16      3.9%    £495,411    £588    +12%  Explore data
38    E17      3.6%    £452,750    £565    +13%  Explore data
39    E18      3.7%    £469,423    £537    +11%  Explore data
40    EN1      3.5%    £439,882    £473    +20%  Explore data
41    EN2      3.3%    £555,542    £519    +20%  Explore data
42    EN3      4.6%    £361,234    £406    +21%  Explore data
43    EN4      2.6%    £753,353    £554    +21%  Explore data
44    EN5      3.0%    £620,146    £542    +19%  Explore data
45    EN8      4.0%    £339,626    £404    +20%  Explore data
46    HA0      4.0%    £424,214    £504    +16%  Explore data
47    HA1      3.8%    £434,252    £516    +19%  Explore data
48    HA2      3.6%    £475,826    £490    +17%  Explore data
49    HA3      3.6%    £434,476    £477    +16%  Explore data
50    HA4      3.4%    £487,588    £528    +15%  Explore data
51    HA5      2.9%    £581,513    £541    +17%  Explore data
52    HA6      2.7%    £636,965    £541    +17%  Explore data
53    HA7      3.2%    £615,861    £534    +14%  Explore data
54    HA8      3.3%    £536,988    £500    +15%  Explore data
55    HA9      3.8%    £474,548    £524    +17%  Explore data
56    IG1      3.9%    £362,452    £402    +24%  Explore data
57    IG2      3.8%    £415,454    £419    +22%  Explore data
58    IG3      3.1%    £477,128    £397    +21%  Explore data
59    IG4      2.3%    £594,719    £421    +23%  Explore data
60    IG5      3.2%    £531,597    £429    +23%  Explore data
61    IG6      4.2%    £425,834    £441    +23%  Explore data
62    IG7      4.0%    £568,804    £475    +24%  Explore data
63    IG8      3.2%    £558,017    £495    +24%  Explore data
64   IG11      5.1%    £297,071    £394    +23%  Explore data
65    KT1      3.8%    £523,426    £606    +12%  Explore data
66    KT2      3.5%    £548,934    £626    +11%  Explore data
67    KT3      3.8%    £554,735    £538    +12%  Explore data
68    KT4      3.4%    £557,968    £488    +14%  Explore data
69    KT5      3.2%    £558,807    £553    +12%  Explore data
70    KT6      3.3%    £488,046    £568    +13%  Explore data
71    KT9         -    £411,926    £456    +14%  Explore data
72     N1      3.5%    £763,470    £917    +12%  Explore data
73     N2      2.6%    £727,832    £683    +10%  Explore data
74     N3      2.7%    £692,204    £626    +11%  Explore data
75     N4      3.4%    £538,336    £734    +12%  Explore data
76     N5      3.4%    £665,166    £839    +10%  Explore data
77     N6      2.6%    £854,214    £876    +11%  Explore data
78     N7      3.6%    £555,166    £753    +12%  Explore data
79     N8      3.1%    £566,694    £705    +12%  Explore data
80     N9      4.2%    £368,227    £415    +15%  Explore data
81    N10      2.9%    £665,946    £707    +12%  Explore data
82    N11      3.6%    £519,883    £550    +12%  Explore data
83    N12      3.7%    £488,394    £576    +13%  Explore data
84    N13      3.2%    £502,344    £508    +12%  Explore data
85    N14      2.5%    £693,869    £557    +13%  Explore data
86    N15      3.4%    £460,457    £571    +17%  Explore data
87    N16      3.3%    £575,199    £753    +11%  Explore data
88    N17      3.9%    £424,728    £485    +12%  Explore data
89    N18      4.1%    £354,398    £409    +16%  Explore data
90    N19      3.1%    £601,930    £738    +12%  Explore data
91    N20      2.6%    £712,485    £566    +13%  Explore data
92    N21      3.0%    £571,969    £538    +12%  Explore data
93    N22      3.3%    £480,429    £588    +15%  Explore data
94    NW1      3.3%    £879,283  £1,001     +8%  Explore data
95    NW2      3.2%    £568,762    £633    +12%  Explore data
96    NW3      3.3%  £1,079,677  £1,047    +11%  Explore data
97    NW4      3.3%    £532,050    £548    +17%  Explore data
98    NW5      3.2%    £717,367    £860    +11%  Explore data
99    NW6      3.1%    £718,360    £850    +11%  Explore data
100   NW7      2.8%    £689,401    £572    +13%  Explore data
101   NW8      3.7%  £1,233,460  £1,120    +12%  Explore data
102   NW9      3.9%    £445,770    £543    +17%  Explore data
103  NW10      3.1%    £533,612    £601    +12%  Explore data
104  NW11      2.9%    £783,312    £718    +10%  Explore data
105   RM1      3.9%    £375,669    £401    +23%  Explore data
106   RM2         -    £529,435    £426    +21%  Explore data
107   RM3      4.6%    £349,472    £380    +24%  Explore data
108   RM6      4.5%    £345,869    £372    +22%  Explore data
109   RM7      4.3%    £341,648    £382    +23%  Explore data
110   RM8      5.2%    £314,330    £377    +22%  Explore data
111   RM9      5.1%    £312,967    £359    +23%  Explore data
112  RM10      5.3%    £307,442    £353    +24%  Explore data
113  RM11      2.9%    £522,203    £404    +22%  Explore data
114  RM12      4.0%    £405,781    £398    +25%  Explore data
115  RM13      4.5%    £359,902    £348    +22%  Explore data
116  RM14         -    £548,809    £438    +23%  Explore data
117   SE1      2.8%    £958,243    £949    +13%  Explore data
118   SE2      4.2%    £340,136    £396    +17%  Explore data
119   SE3      3.7%    £528,371    £603    +18%  Explore data
120   SE4      3.9%    £444,950    £624    +16%  Explore data
121   SE5      4.3%    £501,698    £640    +15%  Explore data
122   SE6      3.5%    £395,554    £489    +15%  Explore data
123   SE7      3.9%    £404,917    £478    +16%  Explore data
124   SE8      4.2%    £452,428    £628    +14%  Explore data
125   SE9      3.4%    £418,902    £425    +17%  Explore data
126  SE10      3.6%    £571,661    £657    +14%  Explore data
127  SE11      3.9%    £573,270    £760    +16%  Explore data
128  SE12      3.8%    £396,477    £460    +15%  Explore data
129  SE13      4.0%    £391,877    £589    +17%  Explore data
130  SE14      3.9%    £405,873    £568    +16%  Explore data
131  SE15      4.0%    £484,922    £617    +15%  Explore data
132  SE16      4.1%    £511,500    £687    +12%  Explore data
133  SE17      4.0%    £614,360    £800    +16%  Explore data
134  SE18      4.0%    £408,662    £455    +17%  Explore data
135  SE19      4.0%    £386,018    £532    +16%  Explore data
136  SE20      3.5%    £384,834    £505    +16%  Explore data
137  SE21      3.9%    £526,860    £658    +15%  Explore data
138  SE22      3.5%    £604,494    £702    +14%  Explore data
139  SE23      3.3%    £475,285    £558    +14%  Explore data
140  SE24      3.3%    £613,259    £722    +14%  Explore data
141  SE25      3.6%    £341,896    £436    +17%  Explore data
142  SE26      3.8%    £424,673    £518    +14%  Explore data
143  SE27      3.4%    £447,808    £565    +15%  Explore data
144  SE28      4.5%    £287,755    £395    +16%  Explore data
145   SM1      3.9%    £366,320    £448    +16%  Explore data
146   SM2      4.0%    £356,061    £450    +16%  Explore data
147   SM3      3.5%    £445,191    £465    +17%  Explore data
148   SM4      3.8%    £429,149    £494    +17%  Explore data
149   SM5      3.8%    £379,122    £456    +16%  Explore data
150   SM6      3.7%    £348,943    £429    +18%  Explore data
151   SW1      2.9%  £1,318,491  £1,379    +-3%  Explore data
152   SW2      4.1%    £483,066    £660     +3%  Explore data
153   SW3      2.3%  £1,624,598  £1,726    +-2%  Explore data
154   SW4      3.8%    £655,090    £773     +2%  Explore data
155   SW5      3.0%  £1,086,111  £1,290    +-3%  Explore data
156   SW6      3.2%    £841,063    £972    +-2%  Explore data
157   SW7      2.2%  £1,856,792  £1,595    +-0%  Explore data
158   SW8      3.1%    £878,542    £930    +-2%  Explore data
159   SW9      4.6%    £483,058    £700     +2%  Explore data
160  SW10      3.2%  £1,068,651  £1,262    +-2%  Explore data
161  SW11      3.6%    £841,614    £869     +1%  Explore data
162  SW12      3.5%    £669,988    £792     +2%  Explore data
163  SW13      3.4%  £1,001,038    £877     +3%  Explore data
164  SW14      2.4%    £978,686    £763     +1%  Explore data
165  SW15      3.6%    £604,602    £724     +2%  Explore data
166  SW16      3.7%    £464,165    £539     +2%  Explore data
167  SW17      3.7%    £553,260    £700     +2%  Explore data
168  SW18      3.7%    £628,981    £765    +-0%  Explore data
169  SW19      3.6%    £600,041    £680     +3%  Explore data
170  SW20      3.3%    £658,993    £669     +1%  Explore data
171  TN14         -    £535,800    £445    +18%  Explore data
172  TN16         -    £442,736    £398    +21%  Explore data
173   TW1      3.2%    £654,637    £728    +11%  Explore data
174   TW2      3.6%    £535,790    £594    +12%  Explore data
175   TW3      4.2%    £349,090    £468    +16%  Explore data
176   TW4      3.6%    £387,038    £436    +12%  Explore data
177   TW5      3.3%    £461,001    £416    +14%  Explore data
178   TW7      3.3%    £474,839    £543    +11%  Explore data
179   TW8      4.3%    £472,444    £611    +15%  Explore data
180   TW9      3.4%    £707,018    £773    +12%  Explore data
181  TW10      3.6%    £766,622    £752    +12%  Explore data
182  TW11      2.9%    £622,792    £672    +11%  Explore data
183  TW12      2.9%    £560,009    £578    +14%  Explore data
184  TW13      4.4%    £340,312    £427    +16%  Explore data
185  TW14      4.1%    £352,343    £419    +15%  Explore data
186   UB1      3.6%    £401,125    £424    +24%  Explore data
187   UB2      4.2%    £390,816    £438    +24%  Explore data
188   UB3      4.1%    £377,042    £453    +20%  Explore data
189   UB4      3.9%    £384,464    £453    +23%  Explore data
190   UB5      4.5%    £339,366    £451    +23%  Explore data
191   UB6      3.8%    £446,639    £503    +22%  Explore data
192   UB7      4.1%    £366,327    £452    +24%  Explore data
193   UB8      3.8%    £407,841    £456    +22%  Explore data
194   UB9      3.0%    £534,385    £466    +23%  Explore data
195  UB10      3.3%    £505,562    £506    +24%  Explore data
196    W1      2.1%  £1,902,811  £1,755     +7%  Explore data
197    W2      3.1%  £1,044,761  £1,264     +5%  Explore data
198    W3      3.6%    £530,837    £682     +5%  Explore data
199    W4      3.6%    £692,627    £794     +5%  Explore data
200    W5      3.1%    £647,039    £711     +4%  Explore data
201    W6      3.2%    £829,322    £910     +5%  Explore data
202    W7      3.1%    £521,777    £587     +5%  Explore data
203    W8      2.3%  £1,817,764  £1,550     +3%  Explore data
204    W9      3.2%    £784,502    £970     +7%  Explore data
205   W10      3.4%    £760,491    £932     +4%  Explore data
206   W11      2.9%  £1,207,240  £1,380     +7%  Explore data
207   W12      2.9%    £706,559    £800     +7%  Explore data
208   W13      3.1%    £599,631    £690     +4%  Explore data
209   W14      2.6%    £925,242  £1,010     +5%  Explore data

In [105]:
property_df.columns

Index(['Area', 'Avg yield', 'Avg price', '£/sqft', '5yr +/-', 'Explore data'], dtype='object')

In [106]:
property_df.drop(columns=['Avg yield','£/sqft','5yr +/-','Explore data'],inplace=True)

In [107]:
property_df.head()

  Area Avg price
0  BR1  £439,284
1  BR2  £457,502
2  BR3  £440,550
3  BR4  £569,033
4  BR5  £439,343

In [108]:
property_df['Avg price'] = property_df['Avg price'].str.replace("£","")
property_df['Avg price'] = property_df['Avg price'].str.replace(',', '')
property_df['Avg price'] = pd.to_numeric(property_df['Avg price'])

In [109]:
property_df.head()

  Area  Avg price
0  BR1     439284
1  BR2     457502
2  BR3     440550
3  BR4     569033
4  BR5     439343

In [110]:
property_df.columns=['Postcode district','Avg price']

In [111]:
property_df.columns

Index(['Postcode district', 'Avg price'], dtype='object')

In [112]:
property_df.to_csv('london_postcode.csv',index=False)

# Merge the table of London Boroughs and London House Prices

In [113]:
london_data=pd.merge(london_df, property_df, how='inner', left_on='Postcode district', right_on='Postcode district')

In [114]:
london_data.columns

Index(['Location', 'London_borough', 'Post town', 'Postcode district',
       'Dial Code', 'OS grid ref', 'Avg price'],
      dtype='object')

In [115]:
london_data.head()

,Location,London_borough,Post town,Postcode district,Dial Code,OS grid ref,Avg price
0,Abbey Wood,Bexley,LONDON,SE2,020,TQ465785,340136
1,Crossness,Bexley,LONDON,SE2,020,TQ480800,340136
2,West Heath,Bexley,LONDON,SE2,020,TQ475775,340136
3,Acton,Ealing,LONDON,W3,020,TQ205805,530837
4,Addington,Croydon,CROYDON,CR0,020,TQ375645,347556

In [116]:
def getLatLong(row):
    #print('post :{}'.format(row[:]))
    #print('neigh :{}'.format(row[1]))
    # initialize your variable to None
    lat_lng_coords = None
    search_query = '{}, London,UK'.format(row)
    # loop until you get the coordinates
    try:
        while(lat_lng_coords is None):
            #g = geocoder.here(search_query,app_id=app_id,app_code=app_code)
            g = geocoder.arcgis(search_query)
            lat_lng_coords = g.latlng
            #print('FIRST')
    except IndexError:
        latitude = 0.0
        longitude = 0.0
        print('BACKUP')
        return [latitude,longitude]

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    print(latitude, longitude)
    return [latitude, longitude]

In [ ]:
coords_list = london_data['Postcode district'].apply(getLatLong).tolist()

51.492450000000076 0.12127000000003818
51.492450000000076 0.12127000000003818
51.492450000000076 0.12127000000003818
51.51324000000005 -0.2674599999999714
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.41009000000008 -0.05682999999993399
51.41009000000008 -0.05682999999993399
51.271725510118685 0.07470987752966636
51.271725510118685 0.07470987752966636
51.56393000000003 -0.12944999999996298
51.56393000000003 -0.12944999999996298
51.58370000000008 0.17476000000004888
51.58370000000008 0.17476000000004888
51.58370000000008 0.17476000000004888
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.44822000000005 -0.1483899999999494
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.53312000000005 0.08407653200004006
51.53312000000005 0.08407653200004006
51.50642000000005 -0.1272099999999341
51.47052000000008 0.14670637700004363
51.47457000000003 -0.24211999999994305
51.47457000000003 -0.24211999999994305
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.615680000000054 -0.2451099999999542
51.615680000000054 -0.2451099999999542
51.615680000000054 -0.2451099999999542
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.46760000000006 -0.16289999999997917
51.51494000000008 -0.1804799999999318
51.51494000000008 -0.1804799999999318
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.53292000000005 0.05461000000002514
51.53292000000005 0.05461000000002514
51.53292000000005 0.05461000000002514
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.37538082912862 -0.15232342204289587
51.37538082912862 -0.15232342204289587
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.43722000000008 -0.018679999999960728
51.43722000000008 -0.018679999999960728
51.43722000000008 -0.018679999999960728
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.48547000000008 0.14300741500005643
51.48547000000008 0.14300741500005643
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.52669000000003 -0.06256999999993695
51.52669000000003 -0.06256999999993695
51.52669000000003 -0.06256999999993695
51.45228085561464 0.09979729725390507
51.45228085561464 0.09979729725390507
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.65366000000006 -0.11061428599992951
51.65366000000006 -0.11061428599992951
51.65366000000006 -0.11061428599992951
51.52702000000005 -0.02593999999993457
51.52702000000005 -0.02593999999993457
51.52702000000005 -0.02593999999993457
51.60214000000008 -0.11222999999995409
51.60214000000008 -0.11222999999995409
51.48770100000007 -0.29779338999992433
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.452950000000044 -0.12082999999995536
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.49014000000005 -0.16247999999995955
51.49014000000005 -0.16247999999995955
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.604025000000036 -0.2626288639999643
51.604025000000036 -0.2626288639999643
51.58912000000004 -0.2280999999999267
51.58912000000004 -0.2280999999999267
51.47480000000007 -0.09312999999997373
51.47480000000007 -0.09312999999997373
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.572889625701485 0.14752774971940058
51.572889625701485 0.14752774971940058
51.48759000000007 0.02912000000003445
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.617800000000045 -0.009339999999951942

51.617800000000045 -0.009339999999951942
51.413275000000056 0.0874730970000428
51.413275000000056 0.0874730970000428
51.60104000000007 -0.19400999999993473
51.46095000000008 -0.13921999999996615
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.41087440213694 -0.2919463207868962
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.54307422088052 0.25011357808526574
51.54307422088052 0.25011357808526574
51.54307422088052 0.25011357808526574
51.58170000000007 -0.12092999999993026
51.58170000000007 -0.12092999999993026
51.58170000000007 -0.12092999999993026
51.41990000000004 -0.08807999999993399
51.41990000000004 -0.08807999999993399
51.41990000000004 -0.08807999999993399
51.345030070448836 0.13272550539320627
51.54505000000006 -0.05531999999993786
51.54505000000006 -0.05531999999993786
51.54505000000006 -0.05531999999993786
51.48114000000004 -0.02466999999995778
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.44100000000003 -0.08896999999996069
51.44100000000003 -0.08896999999996069
51.51406000000003 -0.30072999999993044
51.49004000000008 -0.1897099999999341
51.45066000000003 -0.18996999999995978
51.45066000000003 -0.18996999999995978
51.45066000000003 -0.18996999999995978
51.448444494776844 -0.44849227524521545
51.448444494776844 -0.44849227524521545
51.45256000000006 -0.0707599999999502
51.589270000000056 -0.16394999999994297
51.589270000000056 -0.16394999999994297
51.589270000000056 -0.16394999999994297
51.46482000000003 -0.26590999999996257
51.46482000000003 -0.26590999999996257
51.45907500000004 0.0991206960000568
51.45907500000004 0.0991206960000568
51.61291065511444 -0.37696639802957227
51.61291065511444 -0.37696639802957227
51.61291065511444 -0.37696639802957227
51.61291065511444 -0.37696639802957227
51.62879000000004 -0.05619999999993297
51.45374249766627 -0.32996134872866295
51.45374249766627 -0.32996134872866295
51.45374249766627 -0.32996134872866295
51.45374249766627 -0.32996134872866295
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.444630000000075 0.05212000000005901
51.64131181000005 -0.07463499999994383
51.64131181000005 -0.07463499999994383
51.44864734579377 -0.3294047593453292
51.44864734579377 -0.3294047593453292
51.56878000000006 -0.09846999999996342
51.56878000000006 -0.09846999999996342
51.56878000000006 -0.09846999999996342
51.56878000000006 -0.09846999999996342
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.54668000000004 0.025580000000047676
51.441220000000044 -0.047639999999944393
51.441220000000044 -0.047639999999944393
51.59107000000006 -0.14851999999996224
51.59107000000006 -0.14851999999996224
51.47772000000003 -0.2014499999999657
51.47772000000003 -0.2014499999999657
51.47772000000003 -0.2014499999999657
51.45374249766627 -0.32996134872866295
51.45374249766627 -0.32996134872866295
51.47587015960119 0.2760657531204305
51.47587015960119 0.2760657531204305
51.576730000000055 -0.19694999999995844
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.55570000000006 -0.13925999999997885
51.55570000000006 -0.13925999999997885
51.63519000000008 -0.09302999999994199
51.63519000000008 -0.09302999999994199
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.48454000000004 0.002750000000048658
51.48454000000004 0.002750000000048658
51.558970000000045 -0.05322999999992817
51.558970000000045 -0.05322999999992817
51.558970000000045 -0.05322999999992817
51.53777000000008 -0.04479999999995243
51.53777000000008 -0.04479999999995243
51.53777000000008 -0.04479999999995243
51.53777000000008 -0.04479999999995243
51.50642000000005 -0.1272099999999341
51.44075000000004 -0.28208817499995575
51.44075000000004 -0.28208817499995575
51.49617000000006 -0.22934999999995398
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.35142941071637 -0.24988108535584375
51.35142941071637 -0.24988108535584375
51.35142941071637 -0.24988108535584375
51.50878000000006 -0.3362999999999374
51.50642000000005 -0.1272099999999341
51.50510549999999 -0.4275742499999865
51.50510549999999 -0.4275742499999865
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.567890615208455 -0.3394832478241024
51.567890615208455 -0.3394832478241024
51.567890615208455 -0.3394832478241024
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.45529000000005 -0.09927999999996473
51.45529000000005 -0.09927999999996473
51.553180000000054 -0.09838999999993803
51.57145000000003 -0.14982999999995172
51.46196000000003 -0.007539999999949032
51.46196000000003 -0.007539999999949032
51.50162000000006 -0.19172999999995
51.55457000000007 -0.11477999999993926
51.55457000000007 -0.11477999999993926
51.55457000000007 -0.11477999999993926
51.471390726355075 -0.3513748870497065
51.50642000000005 -0.1272099999999341
51.55116000000004 0.07895962300005976
51.55116000000004 0.07895962300005976
51.474388935888705 -0.3439650135885245
51.474388935888705 -0.3439650135885245
51.474388935888705 -0.3439650135885245
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.49084000000005 -0.11107999999995855
51.49807000000004 -0.17403999999993403
51.49807000000004 -0.17403999999993403
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.457550000000026 -0.21844999999996162
51.457550000000026 -0.21844999999996162
51.457550000000026 -0.21844999999996162
51.50642000000005 -0.1272099999999341
51.558850000000064 -0.00732999999996764
51.558850000000064 -0.00732999999996764
51.53398000000004 -0.17377999999996518
51.53398000000004 -0.17377999999996518
51.552410000000066 0.05258000000003449
51.552410000000066 0.05258000000003449
51.525870000000054 -0.19525999999996202
51.525870000000054 -0.19525999999996202
51.392201353000075 -0.2159499999999639

In [39]:
london_neighborhoods = london_data.join(geo_data)
london_neighborhoods.head(10)

,Location,London_borough,Post town,Dial Code,OS grid ref,Avg price,Latitude,Longitude
BR1,Bromley,Bromley,BROMLEY,020,TQ405695,439284,NaN,NaN
BR1,Downham,Lewisham,BROMLEY,020,TQ395715,439284,NaN,NaN
BR1,Plaistow,Bromley,BROMLEY,020,TQ405705,439284,NaN,NaN
BR1,Sundridge,Bromley,BROMLEY,020,TQ406702,439284,NaN,NaN
BR1,Widmore (also Widmore Green),Bromley,BROMLEY,020,TQ411691,439284,NaN,NaN
BR2,Hayes,Bromley,BROMLEY,020,TQ405665,457502,NaN,NaN
BR2,Keston,Bromley,KESTON,01698,TQ415645,457502,NaN,NaN
BR2,Leaves Green,Bromley,KESTON,01689,TQ414616,457502,NaN,NaN
BR2,Southborough,Bromley,BROMLEY,020,TQ423676,457502,NaN,NaN
BR3,Beckenham,Bromley,BECKENHAM,020,TQ375695,440550,NaN,NaN

In [40]:
london_neighborhoods.drop(columns=['Post town','Dial Code','OS grid ref'],inplace=True)

In [41]:
london_neighborhoods.head()

,Location,London_borough,Avg price,Latitude,Longitude
BR1,Bromley,Bromley,439284,NaN,NaN
BR1,Downham,Lewisham,439284,NaN,NaN
BR1,Plaistow,Bromley,439284,NaN,NaN
BR1,Sundridge,Bromley,439284,NaN,NaN
BR1,Widmore (also Widmore Green),Bromley,439284,NaN,NaN

In [47]:
london_neighborhoods = london_neighborhoods.rename(columns={'Location': 'Neighborhood', 'London_borough': 'Borough'})

In [48]:
london_neighborhoods.head()

                     Neighborhood   Borough  Avg price  Latitude  Longitude
BR1                       Bromley   Bromley     439284       NaN        NaN
BR1                       Downham  Lewisham     439284       NaN        NaN
BR1                      Plaistow   Bromley     439284       NaN        NaN
BR1                     Sundridge   Bromley     439284       NaN        NaN
BR1  Widmore (also Widmore Green)   Bromley     439284       NaN        NaN

In [49]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(london_neighborhoods['Borough'].unique()),
        london_neighborhoods.shape[0]
    )
)

The dataframe has 35 boroughs and 507 neighborhoods.

In [50]:
address = 'London, LN'

geolocator = Nominatim(user_agent="ln_explorer")
location = geolocator.geocode(address)
london_latitude = location.latitude
london_longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(london_latitude, london_longitude))

The geograpical coordinate of London are 43.6342758, -123.0909754.

# Create a map of London with neighborhoods